@model FixedFlight
@{
    ViewData["Title"] = "查詢首頁";
}
<link rel="stylesheet" href="https://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.9.1.js"></script>
<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

<div id="booking" class="section">
    <div class="section-center">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="booking-cta">
                        <h1>即刻開始查詢航班</h1>
                        @*<h2>Total member數量：@ViewData["TotalData"]</h2>*@
                    </div>
                </div>
                <div class="col-md-7 col-md-offset-1">
                    <div class="booking-form">
                        <form method="post" asp-controller="Ticket" asp-action="FixedFlight">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <span class="form-label">出發地</span>
                                        <input class="form-control"
                                               type="text"
                                               placeholder="輸入城市或機場名" 
                                               id="origin"
                                               asp-for="Origin"/>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <span class="form-label">目的地</span>
                                        <input class="form-control"
                                               type="text"
                                               placeholder="輸入城市或機場名" 
                                               id="destination"
                                               asp-for="Destination"/>
                                    </div>
                                </div>
                                <datalist id="location-flavors">
                                    <option value="Chocolate">></option>
                                    <option value="Coconut"></option>
                                    <option value="Mint"></option>
                                    <option value="Strawberry"></option>
                                    <option value="Vanilla"></option>
                                </datalist>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <span class="form-label">出發時間</span>
                                        <input id="departureDate" class="form-control" type="date" required  asp-for="DepartureDate"/>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <span class="form-label">回程時間</span>
                                        <input id="returnDate" class="form-control" type="date" required asp-for="ReturnDate"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <span class="form-label">班機編號（選填）</span>
                                        <input class="form-control"
                                               type="text"
                                               placeholder="請輸入班機編號" 
                                               id="flightNumber"
                                               asp-for="FlightNumber"/>
                                    </div>
                                </div>

                            </div>
                            <div class="form-btn">
                                <button class="submit-btn">查詢</button>
                            </div>
                            <a asp-area="" asp-controller="Ticket" asp-action="FixedFlight">即時動態</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
  $(function() {
      //這邊是出發地的關鍵字，再麻煩後端把所有出發地放進來了，感謝
    var availableOrigin = [
      "出發地1號",
      "AppleScript",
      "Asp",
      "BASIC",
      "C",
      "C++",
      "Clojure",
      "COBOL",
      "ColdFusion",
      "Erlang",
      "Fortran",
      "Groovy",
      "Haskell",
      "Java",
      "JavaScript",
      "Lisp",
      "Perl",
      "PHP",
      "Python",
      "Ruby",
      "Scala",
      "Scheme"
    ];
    $( "#origin" ).autocomplete({
      source: availableOrigin
    });

    //這邊是目的地的關鍵字，再麻煩後端把所有目的地放進來了，感謝
    var availableDestination = [
      "目的地1號",
      "目的地2號",
      "目的地3號",
      "BASIC",
      "C",
      "C++",
      "Clojure",
      "COBOL",
      "ColdFusion",
      "Erlang",
      "Fortran",
      "Groovy",
      "Haskell",
      "Java",
      "JavaScript",
      "Lisp",
      "Perl",
      "PHP",
      "Python",
      "Ruby",
      "Scala",
      "Scheme"
    ];
    $( "#destination" ).autocomplete({
      source: availableDestination
    });

    //阿 那班機編號也順便XD 謝謝!!!
    var availableFlightNumber = [
      "我是班機1號",
      "我是班機2號",
      "Asp",
      "BASIC",
      "C",
      "C++",
      "Clojure",
      "COBOL",
      "ColdFusion",
      "Erlang",
      "Fortran",
      "Groovy",
      "Haskell",
      "Java",
      "JavaScript",
      "Lisp",
      "Perl",
      "PHP",
      "Python",
      "Ruby",
      "Scala",
      "Scheme"
    ];
    $( "#flightNumber" ).autocomplete({
      source: availableFlightNumber
    });

  });

//限定日期為3個月內可選擇
var threeMDate = new Date(new Date().getTime() + 24 * 60 * 60 * 1000 * 90);
var threeMDateDay = threeMDate.getDate();
var threeMDateMonth = threeMDate.getMonth() + 1;
var threeMDateYear = threeMDate.getFullYear();
if(threeMDateDay<10){threeMDateDay='0'+threeMDateDay} if(threeMDateMonth<10){threeMDateMonth='0'+threeMDateMonth} threeMDate = threeMDateYear+'-'+ threeMDateMonth+'-'+ threeMDateDay;
$('#departureDate').attr('max',threeMDate);
$('#returnDate').attr('max',threeMDate);
</script>
