@{
    ViewData["Title"] = "查詢首頁";
}

<div id="booking" class="section">
    <div class="section-center">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="booking-cta">
                        <h1>即刻開始查詢航班</h1>
                    </div>
                </div>
                <div class="col-md-7 col-md-offset-1">
                    <div class="booking-form">
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <span class="form-label">出發地</span>
                                        <input class="form-control"
                                               type="text"
                                               placeholder="輸入城市或機場名" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <span class="form-label">目的地</span>
                                        <input class="form-control"
                                               type="text"
                                               placeholder="輸入城市或機場名" />
                                    </div>
                                </div>
                                <datalist id="location-flavors">
                                    <option value="Chocolate">></option>
                                    <option value="Coconut"></option>
                                    <option value="Mint"></option>
                                    <option value="Strawberry"></option>
                                    <option value="Vanilla"></option>
                                </datalist>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <span class="form-label">出發時間</span>
                                        <input class="form-control" type="date" required />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <span class="form-label">回程時間</span>
                                        <input class="form-control" type="date" required />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <span class="form-label">機票代碼（optional）</span>
                                        <input class="form-control"
                                               type="text"
                                               placeholder="輸入機票代碼" />
                                    </div>
                                </div>

                            </div>
                            <div class="form-btn">
                                <button class="submit-btn">查詢</button>
                            </div>
                            <a asp-area="" asp-controller="Ticket" asp-action="RealtimeFlight">即時動態</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


