@model Member
@{
    ViewData["Title"] = "登入會員";
}
<link href="~/css/register.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://jqueryvalidation.org/files/dist/jquery.validate.min.js"></script>
<script src="https://jqueryvalidation.org/files/dist/additional-methods.min.js"></script>
<div class="container">
    <div class="row">
        <div class="col-sm-6 login-section-wrapper">

            <div class="login-wrapper my-auto">
                <h1 class="login-title">登入系統</h1>
                <span class="alert-danger">@Html.ValidationMessageFor(m => m.Email)</span><!--重複註冊錯誤訊息"by Eric"-->
                <form method="post" asp-action="Login">

                    <div class="form-group">
                        <label for="email">電子郵件</label>
                        <input type="email"
                               name="email"
                               id="email"
                               class="form-control"
                               placeholder="email@example.com"
                               asp-for="Email" required />

                    </div>
                    <div class="form-group mb-4">
                        <label for="password">密碼</label>
                        <input type="password"
                               name="password"
                               id="password"
                               class="form-control"
                               placeholder="輸入您的密碼"
                               asp-for="Password" required />

                    </div>
                    <!-- 送出 -->
                    <div>
                        <a href="#!" class="forgot-password-link mr-5">忘記密碼?</a>
                        <input class="btn btn-login" type="submit" value="登入" asp-controller="Home" asp-action="Verify" />
                    </div>

                    <!--  -->
                </form>
                <div>
                    <a>Account exist: @ViewData["Exist"]</a>

                    <a class="login-wrapper-footer-text">
                        尚未擁有帳號?
                    </a>
                    <a class="text-dark" asp-area="" asp-controller="User" asp-action="Register">註冊</a>
                </div>



            </div>
        </div>
        <div class="col-sm-6 px-0 d-none d-sm-block">
            <img class="login-img" />
        </div>

        <button id="test">click(測試成功訊息用)</button>
        <div class="alert alert-success" role="alert">
            註冊成功
        </div>
    </div>
</div>

<script>
    /* 註冊彈出視窗 1.5秒自動消失*/
    /* 可能需要接受到註冊完成後的訊息，判斷註冊成功之後再執行下方函數*/
    /*
    if("接收到成功訊息"){
        $(".alert-success").css("display","block").delay(1500).fadeOut();
    }
    */

   //這個是按click按鈕會顯示訊息(測試用)
    $("#test").click(function(){
       $(".alert-success").css("display","block").delay(1500).fadeOut();
    });
    
</script>