@{
    ViewData["Title"] = "登入會員";
}

<div class="container">
    <div class="row">
        <div class="col-sm-6 login-section-wrapper">
            <!-- <div class="brand-wrapper">
              <img src="img/logo.svg" alt="logo" class="logo" />
            </div> -->
            <div class="login-wrapper my-auto">
                <h1 class="login-title">登入系統</h1>
                <form action="#!">
                    <div class="form-group">
                        <label for="email">電子郵件</label>
                        <input type="email"
                               name="email"
                               id="email"
                               class="form-control"
                               placeholder="email@example.com" />
                    </div>
                    <div class="form-group mb-4">
                        <label for="password">密碼</label>
                        <input type="password"
                               name="password"
                               id="password"
                               class="form-control"
                               placeholder="輸入您的密碼" />
                    </div>
                    <!-- 送出 -->
                    <div>
                        <a href="#!" class="forgot-password-link mr-5">忘記密碼?</a>
                        <input class="btn btn-login" type="submit" value="登入" />
                    </div>

                    <!--  -->
                </form>
                <div>
                    <a class="login-wrapper-footer-text">
                        尚未擁有帳號?
                    </a>
                    <a class="text-dark" asp-area="" asp-controller="User" asp-action="Register">註冊</a>

                </div>



            </div>
        </div>
        <div class="col-sm-6 px-0 d-none d-sm-block">
            <img class="login-img" />
        </div>
        </div>
    </div>
</div>
    
