/*個人航班*/
.ticketcontainer {
    border: 1px solid;
    background-color: #828282;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 7px;
}

.ticket_form {
    margin: 20px;
    max-width: 100%;
    height: auto;
    text-align: center
}

.ticket-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
}

.ticket-col {
    display: flex;
    flex-direction: column;
    padding: 7px;
}

.ticket-font-small {
    font-size: small;
    padding: 5px;
    min-width: max-content;
    white-space: nowrap;
}

.modify_btn {
    border-radius: 25px;
    width: 85px;
    margin: 5px;
    float: right;
}
