body{
    background-color: whitesmoke;
}
.masthead {
    /*    background-image: url('../img/elizabeth-camp.jpg');*/
    background-color: #69c6ba;
    padding: 40px 35px 20px;
    margin-bottom: 50px;
}

td, th {
    width: 16% !important;
    margin-left: 3%;
}



.h1-title {
    color: #646464;
    font-weight: bold;

}
.center {
    text-align: center !important;
}

/*搜索框*/
#search{
    border-radius: 10px;
    font-size: larger;
    padding-right: 10px;
}
.search-box{
    margin: 15px auto;
    width: 50%;
    height: 80px;
}
.search_container{
    width: 100%;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
  }

.search_container input#search{
    width: 100%;
    height: 80px;
    background: #DBDBDB;
    border: none;
    font-size: 15pt;
    float: left;
    color: #3c3c3f;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    -webkit-transition: background .55s ease;
    -moz-transition: background .55s ease;
    -ms-transition: background .55s ease;
    -o-transition: background .55s ease;
    transition: background .55s ease;
}
.search_container input#search:focus{
    background: #ffffff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}
.search_container input#search:hover{
    background: #ffffff;
}

.search_container input#search::-webkit-input-placeholder {
    color: #65737e;
 }
  
 .search_container input#search:-moz-placeholder { /* Firefox 18- */
    color: #65737e;  
 }
  
 .search_container input#search::-moz-placeholder {  /* Firefox 19+ */
    color: #65737e;  
 }
  
 .search_container input#search:-ms-input-placeholder {  
    color: #65737e;  
 }

.search_container .icon{
    position: absolute;
    top: 50%;
    margin-left: 14px;
    margin-top: 23px;
    z-index: 1;
    color: #000000;
    font-size: x-large;
}

.search_container input#search:hover, .search_container input#search:focus, .search_container input#search:active{
    outline:none;
}
/*搜索框*/



/*即時航班表格*/
.realtime-title{
    background-color: #404040;
    border-radius: 20px;
    display: flex;
    height: 60px;
    font-size: larger;
    color: white;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px auto;
    max-width: 900px;
    min-width: 300px;
}
.realtime-title div{
    padding: 5px;
}
.realtime-contain {
    background-color: #7F7F7F;
    border-radius: 5px;
    display: flex;
    height: 65px;
    font-size: larger;
    color: white;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px auto;
    max-width: 900px;
    min-width: 300px;
}



.greeting_bg{
    position: absolute;
    left: 0;
    height: 9rem;
    width: 100%;
    filter: blur(10px);
    object-fit: cover;
}

.greeting{
    position: relative;
    font-size: xx-large;
    font-weight: 800;
    display: flex;
    top: 45px;
    justify-content: center;
    align-items: center;
}

/*把其他人變正常*/
/*footer.footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
}*/
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

/*回到頂端*/
.back-to-top {
    display: none; /* 默認是隱藏的，這樣在第一屏才不顯示 */
    position: fixed; /* 位置是固定的 */
    bottom: 20px; /* 顯示在頁面底部 */
    right: 30px; /* 顯示在頁面的右邊 */
    z-index: 99; /* 確保不被其他功能覆蓋 */
    border: 1px solid #69c6ba; /* 顯示邊框 */
    outline: none; /* 不顯示外框 */
    background-color: #fff; /* 設置背景背景顏色 */
    color: #69c6ba; /* 設置文本顏色 */
    cursor: pointer; /* 滑鼠移到按鈕上顯示手型 */
    padding: 10px 15px 15px 15px; /* 增加一些內邊距 */
    border-radius: 10px; /* 增加圓角 */
}
.back-to-top:hover {
    background-color: #69c6ba; /* 滑鼠移上去時，反轉顏色 */
    color: #fff;
}
/*回到頂端*/




/*datatable的 過濾 & 分頁 */
.dataTables_filter, .dataTables_info {
    display: none;
}
/*.dataTables_info{
        position: absolute;
        bottom: -70px;
        text-align: center;
        width: 100%;
        color: #7f7f7f;
    }*/
.dataTables_length {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

.dataTables_wrapper {
    position: relative;
    margin-bottom: 100px;
}

.dataTables_paginate {
    position: relative;
    bottom: -35px;
    text-align: center;
    margin: 25px auto;
}

    .dataTables_paginate .paginate_button {
        box-sizing: border-box;
        display: inline-block;
        min-width: 1.5em;
        padding: 0.5em 1em;
        margin-left: 2px;
        text-align: center;
        text-decoration: none !important;
        cursor: pointer;
        color: #333 !important;
        border: 1px solid transparent;
        border-radius: 2px
    }

        .dataTables_paginate .paginate_button:hover {
            color: #17a2b8 !important;
            background-color: #ffffff;
            border-radius: 10px;
        }

a.paginate_button.current {
    background: #d9e4f5;
    border-radius: 10px;
}

.dataTables_empty {
    text-align: center;
    padding: 50px;
}
/*datatable的 過濾 & 分頁 */



@media screen and (max-width:1000px) {
    .search-box {
        width: 60%;
    }
}


@media screen and (max-width:650px){
    .greeting{
        font-size: x-large;
    }
    .search-box {
        width: 80%;
    }
}

@media screen and (max-width:500px) {
    .realtime-contain,.realtime-title{
        font-size: small;
    }
    .greeting{
        font-size:larger;
    }
}

.footer-container {
    margin-bottom: 65px;
    height: 150px;
    margin-top: 50px;
}



@media screen and (max-width:400px) {
    .search-box {
        width: 80%;
        height: 50px;
    }

    .search_container .icon {
        margin-top: 10px;
    }

    .search_container input#search {
        height: 50px;
    }

    .realtime-contain, .realtime-title {
        font-size: smaller;
    }

    .back-to-top {
        padding: 8px 13px 13px 13px;
    }
}
@media screen and (max-width:300px) {
    .realtime-title {
        width: 250px;
        min-width: 250px;
        margin: auto;
    }
    .realtime-contain {
        width: 250px;
        min-width: 250px;
    }
    .h1-title {
        font-size: x-large;
    }
}
