.alert {
    display: none; 
    position: fixed;
    /* top: 50%; */
    left: 45%;
    min-width: 200px;
    /* margin-left: -100px; */
    z-index: 99999;
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
